<div class="card">
    <div class="card-header">
        Pasaje
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Completo</th>
                    <th>Correo</th>
                    <th>Destino</th>
                    <th>Hora de Vuelo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pasaje of Pasajes; let iControl=index">
                    <td>{{pasaje.id}}</td>
                    <td>{{pasaje.nombre}}</td>
                    <td>{{pasaje.correo}}</td>
                    <td>{{pasaje.destino}}</td>
                    <td>{{pasaje.hora}}</td>
                    <td>
                        <a class="btn btn-info" routerLink="/Editar/{{pasaje.id}}"> Editar </a>|
                       
                        <a  class="btn btn-danger" (click)="borrarRegistro(pasaje.id, iControl)" role="button">Borrar</a> 
                    </td>
                    
                </tr>
            
            </tbody>
        </table>
        
    </div>
   
</div>