<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" routerLink="sistemas" >Tarea <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="Listar">Listar Pasajes</a>
        <a class="nav-item nav-link" routerLink="Agregar">Agregar Pasajes</a>
        
        <a class="nav-item nav-link" routerLink="listar-empleado">Listar Empleado</a>
        <a class="nav-item nav-link" routerLink="agregar-empleado">Agregar Empleado</a>
       
        <a class="nav-item nav-link" routerLink="clima">Clima</a>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>


