<h3> Trabajo Final ADMON WEB – BASES DE DATOS Realiado por:</h3>
<p>Jeremia Muñoz<br>
Dayana Valero<br>
Angel Rocha<br></p><br>
<h3>Requerimientos</h3>requerimientos
<p>
    1)      Presentar Modelo conceptual de Bases
    de datos <br>
    2)      Presentar Modelo Lógico de Bases de
    datos.
    <br>
    3)      Presentar Modelo entidad relación
    (varias entidades).
    <br>
    4)      La aplicación debe permitir el
    ingreso (inserción de información de al menos 2 de las entidades) (formularios)
    <br>
    5)      El sistema debe permitir la
    visualización del Ticket, factura o similar y utilizar una API
    <br>
    6)      La aplicación debe permitir la
    actualización de al menos dos entidades. (formularios)
    7)      El frontend lo deben implementar en
    Angular.<br>
    8)      El Backend puede ser implementado en
    la herramienta de su preferencia.<br>
    9)       Pueden trabajar individual, Parejas, máximo tríos.<br>
    10)   Fecha de Presentación Miércoles 18
    de mayo.</p>